body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

p a:link { text-decoration: none; color: #f15959; }
p a:hover { text-decoration: underline; color: #999; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* about */
.about { margin: 0px 0px 60px;}
.about p { padding-bottom: 5px;}
.about h1 { font-size: 3em; }
.about h2 { font-size: 2.4em; }
.about h3 { font-size: 1.6em; }
.about a:link { text-decoration: none; color: #f15959; }
.about a:hover { text-decoration: underline; color: #999; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2.4em; }
.cv h3 { font-size: 1.6em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }

/* projects */
.projects { margin: 0px 0px 60px; }
.projects h1 { font-size: 3em; }
.projects h2 { font-size: 2.4em; }
.projects h3 { font-size: 1.6em; }
.projects .download { float: right; font-size: .8em; text-transform: uppercase; }
.projects p { font-size: 1.4em; line-height: 1.4em; color: #333; }
